/* Reset browser defaults */
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Container */
#main-container {
  height: 100vh;
  width: 80vw;
  margin: 0 auto;
}

/* Banner Container*/
#banner-container {
  height: 60vh;
  border: 3px blue solid;
}
#banner-container p {
  width: 35%;
}

/* Project Highlights */
#projects-container {
  height: 80vh;
  border: 3px red solid;
}

/* About section */
#about-container {
  height: 60vh;
  border: 3px green solid;
}

/* Contact section */
#contact-container {
  height: 60vh;
  border: 3px purple solid;
}

/* Footer */
footer {
  height: auto;
  border: 3px cyan solid;
}

/* Media Queries */
@media screen and (max-width: 1440px) {
  #main-container {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
  }

  html,
  body {
    overflow-x: hidden;
  }

  body {
    position: relative;
  }
}
