/* Reset browser defaults */
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*========== Main Container ==========*/
#main-container {
  height: 100vh;
  width: 80vw;
  margin: 0 auto;
}

/*========== Hero Container ==========*/
#banner-container {
  /* border: 3px blue solid; */
  height: 50vh;
}

#banner-container h1 {
  width: 50%;
  margin-top: 7rem;
}

#hero-logo {
  margin-top: 3rem;
}

#links {
  margin-top: 4rem;
}

/*========== Project Highlights ==========*/
#projects-container {
  /* border: 3px red solid; */
  height: auto;
}

.project {
  display: flex;
}

#projects-container h1 {
  margin-bottom: 2rem;
}

.project {
  margin-bottom: 5rem;
}

.project-title {
  margin-bottom: 1rem;
}

.project p {
  margin-bottom: 0.5rem;
  width: 85%;
}

/*========== About section ==========*/
#about-container {
  /* border: 3px green solid; */
  height: 60vh;
}

#about-container h2 {
  margin-bottom: 1rem;
}

#about-container p {
  width: 50%;
}

#tech-p {
  margin-top: 1rem;
}

#tech-used {
  display: flex;
  flex-flow: column wrap;
  height: 20%;
  width: 15%;
  margin-top: 0.5rem;
}

#about-container a {
  display: block;
  margin-top: 1rem;
}

/*========== Contact section ==========*/
#contact-container {
  /* border: 3px purple solid; */
  height: 60vh;
  display: flex;
}

form label {
  display: block;
}

form textarea {
  height: 200px;
}

form button {
  display: block;
}

/*========== Footer ==========*/
footer {
  /* border: 3px cyan solid; */
  height: auto;
  display: flex;
  justify-content: space-between;
}

footer a {
  text-decoration: none;
}

/*========== Media Queries ==========*/
@media screen and (max-width: 1440px) {
  #main-container {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    padding: 2rem 5rem;
  }

  html,
  body {
    overflow-x: hidden;
  }

  body {
    position: relative;
  }
}

@media screen and (max-width: 930px) {
  .project {
    flex-direction: column-reverse;
  }

  .project h2 {
    margin-top: 1rem;
  }

  #contact-container {
    flex-direction: column;
  }
}
