/* Reset browser defaults */
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
h1,
h2,
h5 {
  font-family: "Jost", sans-serif;
}

body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h5 {
  font-weight: 700;
}

a {
  color: black;
}

.link-btn {
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
  border: 2px solid black;
  border-radius: 300px;
  text-align: center;
  width: max-content;
}

/*========== Main Container ==========*/
#main-container {
  height: 100vh;
  width: 80vw;
  margin: 0 auto;
}

/*========== Hero Container ==========*/
#banner-container {
  /* border: 3px blue solid; */
  height: max-content;
  padding-bottom: 10rem;
}

#banner-container h1 {
  width: 75%;
  margin-top: 7rem;
  font-size: 3rem;
}

#hero-logo {
  margin-top: 3rem;
  width: 2rem;
  height: 2rem;
}

#links {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

#banner-container a {
  margin-right: 2rem;
}

/*========== Project Highlights ==========*/
#projects-container {
  /* border: 3px red solid; */
  height: auto;
}

.project {
  display: flex;
}

#projects-container h1 {
  margin-bottom: 2rem;
}

.project {
  margin-bottom: 5rem;
}

.project-title {
  margin-bottom: 1rem;
}

.project p {
  margin-bottom: 0.5rem;
  width: 85%;
}

.project a {
  margin-right: 1rem;
}

/*========== About section ==========*/
#about-container {
  /* border: 3px green solid; */
  height: max-content;
  padding-top: 4rem;
}

#about-container h2 {
  margin-bottom: 2rem;
}

#about-container p {
  width: 50%;
  margin-bottom: 0.5rem;
}

#tech-p {
  margin-top: 1rem;
}

#tech-used {
  margin-top: 0.5rem;
}

#about-container a {
  display: block;
  margin-top: 2rem;
}

/*========== Contact section ==========*/
#contact-container {
  /* border: 3px purple solid; */
  height: auto;
  display: flex;
  padding-bottom: 2rem;
}

#contact-header {
  margin-bottom: 2rem;
  margin-top: 8rem;
}

#get-in-touch {
  margin-right: 10rem;
}

#get-in-touch p {
  margin-bottom: 2rem;
}

#get-in-touch h5 {
  margin-bottom: 0.5rem;
}

#get-in-touch a {
  display: inline-block;
  margin-bottom: 2rem;
}

form {
  width: 100%;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
}

form input {
  margin-bottom: 1.5rem;
}

form textarea {
  height: 200px;
  margin-bottom: 2rem;
}

form button {
  display: block;
}

.form-width {
  width: 100%;
}

/*========== Footer ==========*/
footer {
  /* border: 3px cyan solid; */
  height: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
  padding-bottom: 1rem;
  font-size: small;
}

footer a {
  text-decoration: none;
}

/*========== Media Queries ==========*/
@media screen and (max-width: 1440px) {
  #main-container {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    padding: 2rem 5rem;
  }

  html,
  body {
    overflow-x: hidden;
  }

  body {
    position: relative;
  }
}

@media screen and (max-width: 1024px) {
  #banner-container h1 {
    width: 90%;
  }

  #about-container p {
    width: 100%;
  }

  .project {
    flex-direction: column-reverse;
  }

  .project h2 {
    margin-top: 1rem;
  }

  #contact-container {
    flex-direction: column;
  }
}

/*========== Tablet ==========*/
@media screen and (max-width: 768px) {
  #main-container {
    padding: 1rem 2rem;
  }

  #banner-container h1 {
    width: 75%;
  }
}

/*========== Mobile ==========*/
@media screen and (max-width: 650px) {
  #main-container {
    padding: 0.5rem;
  }

  #banner-container h1 {
    width: 90%;
    font-size: 2.5rem;
  }

  #links {
    display: flex;
    flex-flow: column wrap;
  }

  #links a {
    margin-bottom: 1rem;
  }

  footer {
    flex-flow: column wrap;
    justify-content: center;
    padding-top: 1rem;
    text-align: center;
  }
}
